<div class="row">
<h1>Proyectos Realizados</h1>
<div class="container">
    
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Tienda de Frutas</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus praesentium ipsum incidunt, fuga officiis nobis amet aliquid suscipit. Perspiciatis dolor quisquam repellendus earum culpa. Repellendus aliquid velit voluptates deserunt eius?</p>
    </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
             <img src="../../../assets/WebFrutas.png" class="img-fluid img-proyecto" >
        </div>

</div>
</div>
