<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let proyecto of proyecto ">
                    <td>
                        <h2 >{{proyecto.nombre}}</h2>
                    </td>
                    <td >{{proyecto.descripcion}}</td>

                    <td><img [src]="proyecto.imag" class="img-fluid img-proyecto" id="fotoproyecto"></td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-secondary" routerLink="/editproy/{{proyecto.id}}">
                            <i class="bi bi-pen-fill"></i> EDITAR</button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(proyecto.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
