<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'CSS'"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'JS'"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'Git'"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [title]="'eng'"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'group'"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
