<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 before>Acerca de mi</h1>
            <p>Soy un Tecnico en Desarrollo de Software enfocado pricipalmente al desarrollo web, pero soy una persona autodidacta que logra aprender rapido y siempre estoy en constante aprendizaje de nuevas tecnologias con cursos y documentacion, ya realice trabajos en en equipo por lo cual me integro rapido para lograr los objetivos y solucion de problemas. Busco superarme personal y profesionalmente.</p>
        </span>
    </div>
</div>

